body{
    font: normal 16px Arial;
    background: rgb(42, 128, 142);
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.298); 
}
footer{
    color: white;
    text-align: center;
}